falco.yaml priority value incorrect for info logs

falco.yaml documentation and file present various priority levels. Info and error are the two most widely used for production, but when set to info, starting the daemon fails complaining about incorrect priority setting.  Apparently, "informational" is the required setting for this as described in the error log, and setting it to that starts the daemon successfully.

For uniformity, I'd recommend using "info" for the priority level.

Thanks for reporting this.

Reviewing the way Falco logs out is on our list of TODOs. Thanks :)

Count me in for working with the team on the logging to rsyslog. It's a core area for me....and I have a laundry list for meeting high governance requirements.

Trying to injest falco logs to SIEM now...and it's not exactly seamless. I'm also puzzled trying to address the large number of dropped syscalls.

Yeah @smijolovic, the Syslog output should definitely get a revamp. 

I've done some work in this field in the past (take a look at [go-syslog](https://github.com/influxdata/go-syslog)), thus I agree.

The Falco's Syslog output should:
- support BSD-Syslog (RFC3164)
- support RFC5424 Syslog messages

Additionally, 
- stream Syslog messages
     - over TLS (RFC5425)
     - over TCP with non-transparent framing or with octet count (RFC 6587)
     - over UDP carrying one message per packet (RFC5426)

If possible, also consider RELP. TLS log loss is always possible. We exclusively use RELP over TLS.